    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&family=Space+Grotesk:wght@400;700&display=swap');
     :root {
        --yellowColor: #FFFF00;
        --yellowColorThin: #F8F184;
        --blueColor: #19587D;
        --redColor: #B11313;
        --primary-black-color: #000000;
        --secondary-black-color: #0D0E09;
        --primary-gray-color: #C4C4C4;
        --primary-white-color: #FFFFFF;
    }
    /*
*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box
    }
    
    body {
        font-size: 12px;
        scroll-behavior: smooth;
        color: var(--primary-white-color);
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .container {
        border-left: 1.5px solid #BCBBBD;
        border-right: 1.5px solid #BCBBBD;
    }
    
    header {
        background: url(../img/Game/Batgame1.png) no-repeat;
        background-position: center right;
        background-size: cover;
        height: 900px;
    }
    
    .header-top {
        height: 900px;
        padding: 0;
    }
    
    header nav {
        display: flex;
        font-size: 36px;
        margin: 0 5%;
        padding: 66px 0;
        justify-content: space-between;
        font-family: 'Rajdhani', sans-serif;
    }
    
    ul li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: var(--primary-white-color);
    }
    
    a:hover {
        color: #FFFFFF;
    }
    
    hr {
        margin: 0;
        border: 2px solid;
        color: #BCBBBD;
    }
    
    .box {
        left: -600px;
        font-size: 18px;
        padding-top: 15%;
        position: relative;
    }
    
    h1 {
        font-size: 36px;
        font-family: 'Rajdhani', sans-serif;
    }
    
    h2 {
        left: -800px;
        position: relative;
    }
    
    .social-media {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 6%;
        z-index: 7;
        top: 40%;
    }
    
    .media {
        filter: grayscale(1);
    }
    
    .yellow {
        filter: grayscale(0);
    }
    
    .btn,
    #submit {
        opacity: 0.7;
        padding: 15px 70px;
        font-weight: bold;
        font-size: 20px;
        color: var(--primary-white-color);
        font-family: 'Rajdhani', sans-serif;
        background: linear-gradient(to bottom right, #EDDEBF 0%, #890008 100%);
    }
    
    .downArrow {
        cursor: pointer;
        padding-bottom: 10%;
    }
    
    .content {
        margin: 0 7%;
        font-size: 18px;
    }
    
    #black {
        background: var(--primary-black-color);
    }
    
    .question {
        font-size: 16px;
        padding-bottom: 20px;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .answers:hover {
        background: #fff19536;
    }
    
    .answers {
        font-size: 14px;
        margin-bottom: 20px;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .answers label {
        display: block;
    }
    
    input[type="radio"] {
        width: 50px;
    }
    
    footer {
        height: 650px;
        background-color: var(--primary-black-color);
    }
    
    .footer {
        padding-top: 7%;
    }
    
    .end {
        margin: 0 7%;
    }
    
    .citations {
        text-align: center;
        padding-top: 10%;
        font-size: 18px;
    }
    
    .author {
        font-size: 12px;
    }
    
    .right-quote {
        padding-top: 20%;
    }
    
    .media-footer {
        word-spacing: 1.5rem;
    }